@font-face {
  font-family: Sans-Bold;
  src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: Sans-Medium;
  src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf");
}
@font-face {
  font-family: Sans-Regular;
  src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf");
}
@font-face {
  font-family: Sans-SemiBold;
  src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: Sans-Light;
  src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
}
