.profile_bg {
    background-color: aliceblue ;
    border-radius: 50px;
}

h3,h2,h5 {
    font-family: Mon-Medium;
}
p {
    font-family: Mon-Light;
}

.profile_heading {
    a {
        display: inline-block;
        position: relative;
        color: #0087ca;
        cursor: pointer;
      }
      
      a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    .headline {
        #col_3 {
            text-align: center;
            a {
                margin-top: 10px;
                margin-right: 15px;
                float: right;
            img {
                max-width: 50px;
                max-height: 50px;
            }
            }
        }
    }
    .img_col {
        img {
        max-width: 250px;
        max-height: 250px;
        border: 5px solid white;
        }
    }
    .profile_heading_col_2{
        h3 {
            padding-top: 25px;
            padding-left: 10px;
        }
    .heading_msg {
        max-width: 75%;
        background-color: white;
        border-radius: 50px;
        padding-top: 25px;
        padding-left: 20px;
        padding-bottom: 25px;
        padding-right: 20px;
    }
}
  .custom_btn_modal_class {
      display: none;
  }
  .resume_cover_letter_heading {
    img {
        max-width: 50px;
        max-height: 50px;
    }
  }
}

#education_experience_heading {
    margin-top: 100px;
    padding-left: 10px;
    padding-top: 20px;
}
.hr-custom {
    border: 2px solid #06f3cb;
    opacity: 0.75;
}

.profile_custom_section {
    h3 {
        padding-left: 5px;
    }
    h4 {
        padding-left: 20px;
    }
    p {
        padding-left: 50px;
    }
    padding-bottom: 20px;
}